@model Assignment5.Models.ArtistWithMediaInfoViewModel

@{
    ViewBag.Title = "Details";
    ViewBag.AlbumCount = Model.Albums.Count();
    var userAccount = new Assignment5.Controllers.RequestUser(User as System.Security.Claims.ClaimsPrincipal);
}

@{
    ViewBag.Title = "Details";
}

<h2>Artist Details - @Html.DisplayFor(model => model.Name)</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name) <hr />
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.BirthName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthName) <hr />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthOrStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthOrStartDate) <hr />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrlArtist)
        </dt>

        <dd>
            <img src="@Model.UrlArtist" height="200" width="200" />  <hr />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)  <hr />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Portrayal)
        </dt>
        <dd>
            <div class="panel panel-default panel-body">
                @Html.Raw(Model.Portrayal)
            </div>
            <hr />
        </dd>

        <dt>
            Photos <br />

        </dt>
        <dd>
            @foreach (var item in Model.MediaItems.Where(m => m.ContentType.Contains("image/")))
            {
                <div>
                    <span>@item.Caption</span><br />
                    <img src="/MediaItem/@item.Id" alt="@item.Caption" width="200" />
                </div>
            }
            <hr />
        </dd>

        <dt>
            Audio<br />
        </dt>
        <dd>
            @foreach (var item in Model.MediaItems.Where(m => m.ContentType.Contains("audio/")))
            {
                <div>
                    <span>@item.Caption</span><br />
                    <audio src="/MediaItem/@item.Id" controls="controls" />
                </div>
            }
            <hr />
        </dd>

        <dt>
            Documents <br />
        </dt>
        <dd>
            @foreach (var item in Model.MediaItems.Where(m => m.ContentType.Contains("application/")))
            {
                <div>
                    <a href="/MediaItem/@item.Id" download="~/MediaItem/@item.Id"> @item.Caption</a><br />
                </div>
            }
            <hr />
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index") |
    @Html.ActionLink("Add album for this artist", "AddAlbum", new { id = Model.Id }) |
    @Html.ActionLink("Add Media for this artist", "AddMediaItem", new { id = Model.Id })
</p>
