@model IEnumerable<ASSIGNMENT_2.Models.PlaylistBaseViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Rohil's Awesome Playlist!!!</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Number of Tracks on the playlist
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <span class="badge badge-secondary"> @Html.DisplayFor(modelItem => item.TracksCount) </span>
            
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PlaylistId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PlaylistId }) 
           
        </td>
    </tr>
}

</table>
